.navbar{
margin-bottom: 4em;
font-family: 'Ubuntu', sans-serif;
}
h1{
font-family: 'Ubuntu', sans-serif;
color: #5C573E;
}
#lol {
font-family: 'Cormorant Garamond', serif;
}
.color1 {
  background-color: #6F9283;
}
#canDo {
font-family: 'Ubuntu', sans-serif;
font-size: 6em;
margin-bottom: 1em;
}
span{
  text-decoration: none;
  border-bottom: red 3px dashed;
}
.btn {
  width: 10em;
  font-family: 'Ubuntu', sans-serif;
}
